.App {
  text-align: center;
}

.App-header {
  background-color: #62656b;
  min-height: 10vh;
  display: inline-flexbox;
  flex-direction: row;
  /*align-items: flex-end;*/
  font-size: calc(30px + 2vmin);
  color: white;
}

.container {
  display: grid;
  grid-row: initial;
}

/*.container {
  display: inline-flexbox;
  height: 600px;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: center;
}
*/

.product img {
  width: 250px;
}
.product{
  padding: 40px;
}
h3 {
  font-size: 22px;
  font-weight: 500px;
}

.add-btn {
  border: 2px solid black ;
  background-color: rgb(31, 158, 99);
  border-radius: 50px;
  width: 150px;
  font-size: 20px;
}